/* .switch{
    text-align: center;
    width: 30%;
    margin: auto;
}

.main{
    width:100%;
    height: 100vh;
    background-image: url('login-page.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 2rem;
}

.authForm{
    width: 30%;
    margin: auto;
    border:1px solid grey;
    padding: 1rem;
}

.switchAuth{
    background-color: transparent;
    background-color: rgb(206, 177, 177);
    border:1px solid grey;
}

.authButton{
    background-color: rgb(204, 66, 66);
    border-radius: 1rem;
    color:white;
    border:1px solid rgb(204, 66, 66);
}

.authButton,.switchAuth{
    padding: 0.5rem 1rem 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
} */

.spinner{
    position: absolute;
    top: 30%;
    left:45%;
    margin: auto;
}

.authForm{
    margin: auto;
    text-align: center;
}

.card{
    box-shadow: 1px 2px 9px grey;
}

/* .btn-auth,.btn-auth:hover{
    background-color: rgb(204, 66, 66);
    color:white;
}

.btn-auth:hover{
    background-color: rgb(219, 42, 42);
} */