.message{
    background-color: rgb(136, 168, 180);
    color : black;
    border-radius: 1rem;
    position: fixed;
    z-index:20;
    /* bottom:2rem;
    right:2rem; */
    padding: 0.5rem 1rem 0.5rem;
    right: 2%;
    top : 2%;
    /* transform: translate(-50%, 0); */
}