.resetPswdForm{
    width: 40%;
    margin: auto;
    position: fixed;
    top:30%;
    left:30%;
    color: rgb(196, 89, 89);
}

.form{
    width: 100%;
    /* background-color: black; */
    padding: 1rem;
}

.resetButton{
    background-color: rgb(196, 89, 89);
    border:1px solid rgb(196, 89, 89);
    color:white
}

.main{
    width:100%;
    height: 100vh;
    background-image: url('login-page.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 2rem;
}

.spinner{
    position:absolute;
    top:40%;
    left:40%;
}